/* Reset browser default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth fonts & layout */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: #f2f5fb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make root take full height */
#root {
  height: 100%;
  width: 100%;
}

/* Buttons should have pointer cursor */
button {
  cursor: pointer;
}

/* Remove ugly outline on buttons when clicked */
button:focus {
  outline: none;
}

/* Hide file inputs globally */
input[type="file"] {
  display: none;
}